/* body */
body 
{	
    width: auto;
    background: #212121;
    color: #e2e2e2;
    line-height: 1.5;
    /* font-family: sans-serif; */
    font-family: 'Malgun Gothic';   
    font-size: 14.5px;     
}

/* paragraph */
p 
{
    margin-bottom: 20px;
}

/* code */
code 
{
    font-family: 'Courier New';
    color: #f3dc95;	
}

/* headers */
h1, h2, h3, h4, h5, h6 
{
    margin-top: 1.5em;
    color: #e1e1e1;	
    font-family: sans-serif;
    font-weight: bold;
}

h1	
{
 font-size: 40px;
}
h2	
{
 /* border-bottom: 1px solid #494949; */
 border-left: 6px solid #f79400;
 padding-left: 10px;
 font-size: 36px;
}
h3	
{
    border-left: 4px solid #32c97d;
    padding-left: 10px;
    font-size: 24px;
}
h4	
{
    border-left: 4px solid #303F9F;    
    padding-left: 10px;
    margin-top: 0px;
    font-size: 20px;
}
h5	
{
    border-left: 4px solid #9f11ac;    
    padding-left: 10px;
    font-size: 16px;
}
h6	
{
 font-size: 12px;
}

blockquote 
{
    /* margin-bottom: 20px; */
    border-style: hidden;    
    padding-left : 0px; 
    /* padding: 1px 1px 1px 1px;  */
    background: #292929;
    font-family: sans-serif;

    color:#e2e2e2;
}